<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491151736061-hnhsj73k2ci93vaf8035akk33d6ld7jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491151736061-hnhsj73k2ci93vaf8035akk33d6ld7jm</string>
	<key>API_KEY</key>
	<string>AIzaSyCH6xs5vqS7Cuavev0YdPwFe89u6E6JWpk</string>
	<key>GCM_SENDER_ID</key>
	<string>491151736061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationFirstt</string>
	<key>PROJECT_ID</key>
	<string>it-lap-4ade1</string>
	<key>STORAGE_BUCKET</key>
	<string>it-lap-4ade1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491151736061:ios:2d43049cad61f92b505294</string>
</dict>
</plist>