<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491151736061-pt1vivgle8po6f846tf1pgrhl5aoqpu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491151736061-pt1vivgle8po6f846tf1pgrhl5aoqpu8</string>
	<key>API_KEY</key>
	<string>AIzaSyCH6xs5vqS7Cuavev0YdPwFe89u6E6JWpk</string>
	<key>GCM_SENDER_ID</key>
	<string>491151736061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationFirstt.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>it-lap-4ade1</string>
	<key>STORAGE_BUCKET</key>
	<string>it-lap-4ade1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491151736061:ios:355da84a02f5116a505294</string>
</dict>
</plist>